
@model EliandroProjetoManha.Models.ViewModels.PedidoFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Pedido.ProdutoId" />
            <div class="form-group">
                <label asp-for="Pedido.Produto" class="control-label"></label>
                <input asp-for="Pedido.Produto" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Fornecedor" class="control-label"></label>
                <input asp-for="Pedido.Fornecedor" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Data" class="control-label"></label>
                <input asp-for="Pedido.Data" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Valor" class="control-label"></label>
                <input asp-for="Pedido.Valor" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pedido.Quantidade" class="control-label"></label>
                <input asp-for="Pedido.Quantidade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Pedido.DepartamentoId" class="control-label"></label>
                <select asp-for="Pedido.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos, "PedidoId",
                "Nome"))" class="from-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


